{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
     <div class=" container form2">
    <form action="/register" method="post">
            <h3 class="white mb-3"> <strong>Registration </strong> <p style= "color = black ; ">(Staff)</p></h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input   autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <a ></a>
        <button class=" black btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}
